
<app-header></app-header>
<div class="card-container mt-xl-5" role="main">
<h2>Welcome to Angular</h2>
  <div>
    <h2>{{date}}</h2>
    <h2>{{date | date :'short'}}</h2>
  </div>
  <div class="card-body">
    <form class="card p-5 input-group align-content-center" #form="ngForm" ngForm='loginForm' (ngSubmit)="onSubmit()">
     <span class="alert-danger" *ngIf="form.invalid && form.touched && form.dirty">Name is required</span>
      <label class="col-form-label">
        <input  type='text' [(ngModel)]="name" name="name" required>
      </label>
      <label class="col-form-label">
        <input type='text' [(ngModel)]="email" name="email" >
      </label>
      <br>
      <button mat-raised-button color="primary" [disabled]="name.length>0?false:true">Login</button>
      <span *ngIf="form.valid">{{form.value | json}}</span>
    </form>
    <mat-card class="m-5">
      <mat-card-content>
        <div>
          Hello
        </div>
      </mat-card-content>
    </mat-card>
    <div class="card mt-2 p-2">
      <div class="text-primary border-bottom p-1" *ngFor="let n of names">
        <span>{{n}}</span>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
